<app-navbar></app-navbar>
<div class="container">
  <div class="unos">
    <div class="container-podaci">
      <label for="Naziv">Naziv: </label>
      <input type="text" id="Naziv" [(ngModel)]="this.izdavacUpdateRequest.naziv">
      <label for="Email">Email: </label>
      <input type="email" id="Email" [(ngModel)]="this.izdavacUpdateRequest.email">
      <label for="telefon">Telefon: </label>
      <input type="text" id="telefon" [(ngModel)]="this.izdavacUpdateRequest.telefon">
      <label for="Adresa">Adresa: </label>
      <input type="text" id="Adresa" [(ngModel)]="this.izdavacUpdateRequest.adresa">
    </div>
    <div class="container-slika">
      <img class="slika" src="{{this.izdavacUpdateRequest.slikaPutanja}}">
      <div class="slika-buttoni">
        <button>Dodaj</button>
        <button>Ukloni</button>
      </div>
    </div>
  </div>
  <div class="buttoni">
    <button class="potvrdi" (click)="potvrdi()">Potvrdi</button>
    <button class="odustani" (click)="odustani()">Odustani</button>
  </div>
</div>
