<app-navbar></app-navbar>
<div class="container">
  <div class="unos">
    <div class="container-podaci">
      <label for="Naslov">Naslov: </label>
      <input type="text" id="Naslov" [(ngModel)]="this.knjigaDodajRequest.naslov">
      <label for="ISBN">ISBN: </label>
      <input type="text" id="ISBN" [(ngModel)]="this.knjigaDodajRequest.isbn">
      <label for="Opis">Opis: </label>
      <textarea id="Opis" [(ngModel)]="this.knjigaDodajRequest.opis">
      </textarea>
      <label for="Autori">Autori: <a routerLink="/autor/dodaj">DODAJ AUTORA</a></label>
      <select id="Autori" multiple [(ngModel)]="this.knjigaDodajRequest.autorIDs">
        <option *ngFor="let autor of autoriResponse" value="{{autor.autorID}}">{{autor.ime}} {{autor.prezime}}</option>
      </select>
      <label for="Izdavac">Izdavač: <a routerLink="/izdavac/dodaj">DODAJ IZDAVAČA</a></label>
      <select id="Izdavac" [(ngModel)]="this.knjigaDodajRequest.izdavacID">
        <option selected value=""></option>
        <option *ngFor="let izdavac of izdavaciResponse" value="{{izdavac.izdavacID}}">{{izdavac.naziv}}</option>
      </select>
      <label for="Žanr">Žanr: <a>DODAJ ŽANR</a></label>
      <select id="Žanr" [(ngModel)]="this.knjigaDodajRequest.zanrID">
        <option selected value=""></option>
        <option *ngFor="let zanr of zanroviResponse" value="{{zanr.zanrID}}">{{zanr.naziv}}</option>
      </select>
    </div>
    <div class="container-slika">
      <img class="slika" src="{{this.knjigaDodajRequest.slikaPutanja}}">
      <div class="slika-buttoni">
        <button>Dodaj</button>
        <button>Ukloni</button>
      </div>
      <div class="podaci-sipod-slike">
      <label for="Datum">Datum izdavanja: </label>
      <input type="date" id="Datum" [(ngModel)]="this.knjigaDodajRequest.datumIzdavanja">
      <label for="stranica">Broj stranica: </label>
      <input type="number" min="0" id="stranica" [(ngModel)]="this.knjigaDodajRequest.brojStranica">
      <label for="Cijena">Cijena: </label>
      <input type="number" min="0" id="Cijena" [(ngModel)]="this.knjigaDodajRequest.cijena">
      <label for="stanju">Na stanju: </label>
      <input type="number" min="0" id="stanju" [(ngModel)]="this.knjigaDodajRequest.naStanju">
      </div>
    </div>
  </div>
  <div class="buttoni">
    <button class="potvrdi" (click)="potvrdi()">Potvrdi</button>
    <button class="odustani" (click)="odustani()">Odustani</button>
  </div>
</div>
